#bg {
    overflow: hidden;
    width: 100%;
    height: 100%;
   	background-color: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    margin: 0;
    padding:0;
    opacity: 1;
    z-index: 999;
    display: block;
    position: fixed;
}

body {
	z-index: 1;
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	font-weight: 400;
	border: 0;
	padding: 0;
	opacity: 0.99;
	line-height: 1;
}

.form-container {
	position: fixed;
	top: 180px;
	width: 100%;
	display: none;
	justify-content: center;
	z-index: 9999;
}

.form-wrap {
	display: flex;
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	width: 790px;
	height: 240px;
	justify-content: center;
	align-items: center;
	opacity: 1 !important;
}

.form-info {
	display: flex;
	align-items: center;
	width: 770px;
	height: 220px;
	border: 1px solid #cfcfcf;
}

.form-text {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.plus18 {
	padding: 0 15px 0 15px;
}

.form-text p {
	margin: 0;
	margin-bottom: 35px;
	font-size: 18px;
}

.age-confirm {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.age-confirm p {
	padding-right: 15px;
	font-size: 18px;
}

.confirm-button {
	font-family: 'Exo 2';
	width: 70px;
	height: 24px;
	font-size: 16px;
	background: #fbb040;
	border: none;
	border-radius: 3px;
	color: black;
	margin-right: 10px;
	padding: 0;
}

.confirm-button:hover {
	background: transparent;
	border: 1px solid black;
}

.age-confirm span {
	margin-right: 30px;
	font-size: 16px;
	font-family: 'Exo 2';
}

header {
	width: 100%;
	margin: 0 auto;
}

.top-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	background: #ededed;
}

.top-wrapper {
	display: flex;
	max-width: 1100px;
	width: 1100px;
	justify-content: space-between;
	padding: 10px;
}

.top-wrapper .work-time, .call-back, .auth {
	display: flex;
	align-items: center;
}

.top-wrapper img {
	height: auto;
	margin-right: 12px;
	align-items: center;
}

 .work-time, .call-back, .auth span {
	color: #606060;
	font-weight: 400;
}

.call-back-and-skype {
	display: flex;
	justify-content: center;
	align-items: center;
}

.skype {
	display: flex;
	align-items: center;
	margin-left: 35px;
	margin-right: 20px;
}

.callback-button {
	margin-right: 115px;
	font-family: 'Ubuntu';
	width: 150px;
	height: 20px;
	font-size: 14px;
	font-height: bold;
	background: #fbb040;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0;
}

.callback-button:hover {
	background: transparent;
	border: 1px solid #fbb040;
	color: #fbb040;
}

.main-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	max-height: 120px;
	background: #ffffff;
}

.main-wrapper {
	display: flex;
	max-width: 1100px;
	width: 1100px;
	align-items: center;
	justify-content: space-between;
}

/*.logo {
	margin-right: 55px;
}*/

.search {
	position: relative;
	display: flex;
	align-items: center;
	padding-right: 2px;
}

.search .input {
	height: auto;
	outline: none;
	box-sizing: border-box;
	padding: 5px 0 5px 5px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	font-size: 14px;
	max-width: 405px;
	width: 405px;
	border-right: none;
	
}

.search-btn {
	background: #fbb040;
	margin: 0;
	border: 1px solid #fbb040;
	border-radius: 3px;
	position: absolute;
	right: 0;
	padding: auto 15px;
	margin-right: 3px; 
}

.search-btn:hover {
	cursor: pointer;
}

.cart {
	display: flex;
	align-items: center;
}

.cart > img {
	width: 35px;
	margin-right: 10px;
}

.cart-text p {
	margin: 0;
}

.cart-text .cart-description {
	margin-top: 5px;
}


.dropdown-header {
	display: flex;
	background: #00a651;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.dropdown-wrapper {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	max-width: 1100px;
	width: 1100px;
}

.dropdown-wrapper li {
	list-style: none;
}

ul.menu li {
	cursor: pointer;
	text-align: center;
	width: 100%;
	text-align: center;
}

ul.menu li a {
	display: block;
	font-size: 16px;
	border-right: 1px solid #80d3a8;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

}

ul.menu li:hover {
	background: #fbb040;
}

.banner-header {
	background: url(../images/banner.png) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 400px;
	padding-bottom: 40px;
}

.banner-wrapper {
	display: flex;
	justify-content: center;
	max-width: 855px;
	width: 855px;
}

.banner-text {
	color: #fff;
	text-align: right;
}

.banner-text p {
	display: table;
	font-family: 'Ubuntu';
	font-weight: medium;
	font-size: 48px;
	text-align: left;
	background: rgba(6, 30, 9, 0.7);
	margin: 0;
	margin-bottom: 30px;
}

.banner-button {
	font-family: 'Ubuntu';
	width: 160px;
	height: 40px;
	font-size: 18px;
	font-height: bold;
	background: #fbb040;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	color: #ffffff;
}

.banner-button:hover {
	background: rgba(0,0,0,0.5);
	border: 1px solid #fbb040;
	color: #fbb040;
}

.collections {
	padding: 80px 0;
}

.title {
	font-family: 'Exo 2';
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 70px;
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.all-sorts-title {
	font-family: 'Exo 2';
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 60px;
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.collections-wrapper {
	display: flex;
	max-width: 1200px;
	width: 1200px;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
}

.vendors {
	padding: 80px 0;
}

.vendors-wrapper {
	display: flex;
	max-width: 1200px;
	width: 1200px;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	max-height: 800px;
}

.owl-stage-outer {
}

.all-sorts {
	padding: 80px 0 0 0;
}

.all-sorts-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1100px;
	width: 1100px;
	margin: 0 auto;
}

.all-sorts-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 15px 0 15px 0;
	border-bottom: 1px solid #dadada;
}


.navigation {
	display: flex;
	list-style: none;
	flex-direction: row;
	padding-left: 0;
    margin: 0;
	justify-content: space-between;
	min-width: 450px;
}

.navigation li {
	font-size: 24px;
	cursor: pointer;
}

.navigation li.active {
	border-bottom: 2px solid #fbb040;
}

.navigation li:hover {
	border-bottom: 2px solid #fbb040;
}

.all-sorts-view {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	width: 50%;

}

.all-sorts-view span {
	font-size: 24px;
	padding-right: 20px;
}

.switch-menu {
	background: #fbb040;
	margin-right: 10px;
	padding: 5px;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

td p {
	margin: 10px 0 10px 0;
}


 select {
	padding-right: 18px;
	padding-left: 10px;
   appearance: none;
   -webkit-appearance: none; 
   -moz-appearance: none;
   background: url(../images/icons/dropdown-arrow.png) no-repeat 88%;
   border-radius: 3px;
}

.table-button {
	font-family: 'Exo 2';
	font-size: 16px;
	background: #fbb040;
	border: none;
	border-radius: 3px;
	color: black;
	width: 110px; 
	height: 30px;
}

.table-button:hover {
	background: transparent;
	border: 1px solid #fbb040;
	color: #fbb040;
}


.more-button {
	font-family: 'Exo 2';
	font-size: 16px;
	background: #fbb040;
	border: none;
	border-radius: 3px;
	color: black;
	width: 220px;
	height: 30px;
	text-transform: uppercase;
}

.more-button:hover {
	background: transparent;
	border: 1px solid #fbb040;
	color: #fbb040;
}

.about-us {
	padding: 80px 0;
}

.about-us-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1100px;
	width: 1100px;
	margin: 0 auto;
}

.about-us-wrapper p {
	font-size: 16px;
}

.notify-container {
           display: -webkit-flex;
           display: flex;
           -webkit-flex-direction: row;
           flex-direction: row;
           -webkit-align-items: center;
           align-items: center;
           flex-wrap: wrap;
        }
        .notify-item {
        margin-top: 40px;
        }
        
        .notify-info{
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 5px;
            margin-top: 15px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 68%;
        }

        .notify-info p{
            padding: 0;
            margin: 0 0 20px;
        }


.circle2 {
fill: #fbb040;
}

.circle1 {
  fill: white;
  stroke: #fbb040;
}

text {
	font-size: 32px;
}

.disturb-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.disturb-container p {
	font-family: "Exo 2";
	font-size: 18px;
	padding-right: 50px;
}

.disturb-email {
	width: 220px;
	height: 30px;
	font-size: 14px;
	box-sizing: border-box;
	border: 1px solid #cfcfcf;
	border-radius: 5px;	
	padding: 10px;
	margin-right: 15px;
}

.ok-button {
	font-family: 'Exo 2';
	font-size: 14px;
	background: #fbb040;
	border: none;
	border-radius: 3px;
	color: black;
	width: 50px;
	height: 30px;
	text-transform: uppercase;
}

.ok-button:hover {
	background: transparent;
	border: 1px solid #fbb040;
	color: #fbb040;
}

footer {
	width: 100%;
	background: #ededed;
}

.footer-container {
	display: flex;
	justify-content: center;

}

.footer-wrap {
	display: flex;
	width: 1100px;
	justify-content: space-between;
	
}

.footer-menu ul {
	list-style: none;
}

.footer-menu2 ul {
	list-style: none;
}

.social-container {
	display: flex;
	flex-direction: column;
}


.footer-social {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-social p {
	padding-right: 15px;
	font-size: 16px;
}

.footer-contacts {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-contacts p {
	padding-right: 15px;
	font-size: 16px;
}

.footer-menu ul li {
	padding-bottom: 15px;
	font-size: 16px;
}

.footer-menu ul li:last-child {
	padding-bottom: 0;
}

.social-img {
	height: 20px;
	margin-right: 12px;
}

.social-img-skype {
	height: 22px;
	margin-right: 10px;
}

.copyright {
	display: flex;
	justify-content: center;
	max-width: 1100px;
	margin: 0 auto;
}

.copyright p {
	display: flex;
	font-size: 14px;
}


#collections-owl .item{
  margin: 32px;
}


#collections-owl .item img{
    display: block;
    width: 100%;
    height: auto;
}

.collections-wrapper {
    position: relative;
    padding-bottom: 30px;
}

#collections-owl {
	margin-top: 60px;
}

.owl-next {
 	position: absolute;
    top: 40%;
    left: 98%;

}

.owl-next:hover {
	content: url(../images/arrows/right-arrow-hover.png);
}

.owl-prev {
    position: absolute;
    top: 40%;
    right: 98%;

    /* This value should be a negative half of the height of these elements! 
        For example if their heights are 50px this value should be -25px.
        margin-top...
    */
}

.owl-prev:hover {
	content: url(../images/arrows/left-arrow-hover.png);
}

.item-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item-wrap p {
	margin: 20px 0 10px 0;
	font-weight: 600;
}

.item-wrap a {
	text-decoration: underline;
}

#vendors-owl {
	
}

#vendors-owl .item {
	margin: 35px 0 35px 35px;
}

.owl-stage {
	display: flex;
	justify-content: center;
	align-items: center;
}

#vendors-owl .item img {
	display: block;
	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 75px;
	margin: 0 auto;

}

.vendors-wrapper {
	position: relative;
	padding-bottom: 30px;
}






